<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body style="background-color: aliceblue;">
  <div class="container" style="background-color: white;">
    <h1 class="mb-1"><%= blog.title %></h1>
    <div style="height: 30px;"></div>
    <div class="text-muted mb-2">
      <%= blog.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">All blog</a>
    <a href="/blog/edit/<%= blog.id %>" class="btn btn-info">Edit</a>
    <div style="height: 30px;"></div>
    <div style="color: rgb(22, 197, 60);">
      <%= blog.author %>
    </div>
    <div style="height: 10px;"></div>
    <div>
      <%- blog.sanitizedHtml %>
    </div>
    <div style="height: 30px;"></div>
    <div class="card-subtitle"><h1> ID : 00010579</h1></div>
  </div>
</body>
</html>